{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Email</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Rating</th>       
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>     
        
        {% for i in value %}
        <tr>
          <td>{{i.id}}</td>
          <td>{{i.musician.firstname}} {{i.musician.lastname}}</td>
          <td>{{i.musician.email}}</td>
          <td>{{i.musician.instrumenttype}}</td>
          <td>{{i.rating}}</td>
          <td>{{i.albumname}}</td>
          <td>{{i.albumreleasedate}}</td>
          <td> 
          <div class=" container d-flex flex-wrap justify-content-left align-items-left">
            <button class="btn btn-warning border-2"><a href="{% url 'editalbum' i.id %}">Edit</a></button>
            <button class="btn btn-danger border-2"><a href="{% url 'deletealbum' i.id %}">Delete</a></button>
          </div>
          </td> 
        </tr>
        {% endfor %}
      </tbody>
  </table>
{% endblock %}